@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-text-dark: #000000;
    --color-text-light: #ffffff;
    --color-button: rgb(6 78 59);
    --color-button-hover: rgb(6 95 70);;
    --color-background-dark: rgb(6 78 59);
    --color-background: rgb(5 150 105);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
